.main-button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px; 
    width: 170px;
    line-height: 60px; /*centralizar no sentido vertical */
    box-shadow: 5px 5px 0px 0px #000; /*sombra*/
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.main-button:hover {
    color: #000;
}

.left-button {
    margin: 90px 15px 50px 15px;
    cursor: pointer;
}

.right-button {
    margin: 90px 15px 50px 15px;
    cursor: pointer;
}

.main-button.-full {
    width: 100%;
}