h2 {
    display: block;
    background-color: #3A4042;
    margin: 116px 237px 497px 91px;
    color: #F25A70;
    width: 267px;
    height: 184px;
    font-family: 'Press Start 2P';
    font-size: 40px;
    text-shadow: 4px 4px 0 #000;
    padding: 42px 97px 102px 90px;
}   
